# Skip unncecessary folders
**/.git
**/.github
**/node_modules
**/build
!packages/*/build
**/docker
/test-results/
/playwright-report/
/coverage
/build

# Skip unnecessary files
.multi-release.json
.prettierrc.json
.releaserc.json
.npmrc
**/*.md
**/*.log

# Exceptions
!LICENSE
!README.md
